<nav>
  <h1>👩🏽‍💻</h1>
  <h2>IT STORE</h2>
  <a routerLink="/home"
            routerLinkActive = "active-link">🏠 HOME</a>
  <a routerLink="/monitors"
            routerLinkActive = "active-link">MONITORS 🖥️</a>
  <a routerLink="/keyboards"
            routerLinkActive = "active-link">KEYBOARDS ⌨️</a>
  <a routerLink="/pc"
            routerLinkActive = "active-link">PC INTERNALS 🖥</a>
  <a routerLink="/arduino"
            routerLinkActive = "active-link">ARDUINO 🤖</a>
  <a routerLink="/cart"
            routerLinkActive = "active-link">CART 🛒</a>
</nav>