<h2>YOUR CART 🛒</h2>

<div class="cart-container">
  @for (item of service.cart(); track item) {

  <div class="cart-item">
    <img class="order-img" [src]="item.image">

    <p>{{item.name}} | Qty: {{item.qty}}</p>
    <p>₱{{item.price}} x{{item.qty}}</p>
    <p>₱{{item.price * item.qty}}</p>

    <input 
      type="number" 
      [(ngModel)]="item.qty" 
      min="1"
      (ngModelChange)="updateQty(item)">

    <button (click)="buy(item)">✅ BUY</button>
    <button (click)="remove(item)">❌ Remove</button>
  </div>

  }
</div>

<h3>Total: ₱{{service.total()}}</h3>

<hr>

<h2>YOUR ORDERS 📦</h2>

<div class="orders-container">
  @for (order of orders; track order) {

  <div class="order-card">

    @if (editingId !== order._id) {

      <img class="order-img" [src]="order.image">

      <p>{{order.category}} | {{order.name}}</p>
      <p>{{order.price}} x{{order.quantity}}</p>
      <p>Total: ₱{{order.price * order.quantity}}</p>

      <button (click)="startEdit(order)">✏️ EDIT</button>
      <button (click)="cancelOrder(order._id)">❌ CANCEL ORDER</button>

    }

    @if (editingId === order._id) {

      <input [(ngModel)]="editData.quantity" type="number" min="1">

      <button (click)="saveEdit()">💾 Save</button>
      <button (click)="cancelEdit()">Cancel</button>

    }

  </div>

  }
</div>