<div *ngFor="let item of service.cart()">
  <p>
    {{item.name}} | Qty: {{item.qty}} | 
    ₱{{item.price * item.qty}}
  </p>

  <input 
  type="number" 
  [(ngModel)]="item.qty" 
  min="1"
  (ngModelChange)="updateQty(item)">

  <button (click)="buy(item)">✅ BUY</button>
  <button (click)="remove(item)">❌ Remove</button>
</div>

<h3>Total: ₱{{service.total()}}</h3>

<hr>

<h2>ORDERS 📦</h2>

<div *ngFor="let order of orders">
  <p>
    {{order.category}} | 
    {{order.name}} | 
    Qty: {{order.quantity}} | 
    ₱{{order.price * order.quantity}}
  </p>
</div>

